body{
	margin:0;
	padding:0;
	box-sizing:border-box;
	background-color:beige;
	}
.container{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-family:helvetica;
	
}
h2{
	margin:0 auto;
	width:80%;
	color: #8f854a;
}
.buttons{
	display:flex;
	justify-content:center;
}
button, input{
	color:seagreen;
	background-color:lightblue;
	border:2px solid lightblue;
	box-shadow: 2px 2px 12px #799fa1;
	border-radius:1rem;
	padding: .7rem 2rem;
	margin:1rem;
	text-transform:uppercase;
}
button{
	cursor:pointer;
}
textarea{
	border:2px solid lightblue;
	outline:none;
	border-radius:1rem;
	padding:1rem;
	color:seagreen;
}
#fileInput{
	background-color:beige;
}

.winnerIs{
	color:hotpink;
	font-size:2rem;
	margin:3rem;
	text-align:center;
	
}

















